- content_for :head do
  = "- #{@connection.oracle_instance} > #{params[:repo_name]} > Conformity"

.col-sm-12
  %h1.page-header #{params[:repo_name]}
  %ul.nav.nav-tabs.nav-justified
    %li
      %a{ :role => "presentation", :href => studio_connection_show_repo_path(params[:studio_connection_id], params[:repo_name])} Repository
    %li
      %a{ :role => "presentation", :href=>  studio_connection_repo_stats_path(params[:studio_connection_id], params[:repo_name])} Statistics
    %li.active
      %a{ :role => "presentation", :href=>  studio_connection_conformity_path(params[:studio_connection_id], params[:repo_name])} Conformity
    %li
      %a{ :role => "presentation", :href=>  studio_connection_repo_users_path(params[:studio_connection_id], params[:repo_name])} Users

.col-sm-12
  #conformity-report
    %br
    %p.lead
      %i.fa.fa-cog.fa-spin
      Loading conformity report...
  %h3.page-header
    Agreed Standards
  %p
    %ul
      %li !project_title! = !project_type!_!study_subject!_!vintange!(_!sequence!)
      %li !project_type! = BLKENTRY | BLKREVAL | PEM | PREDRILL | POSTDRILL | RGN
      %li !study_subject! = basin/block name/well name
      %li !vintange! = Year, in YYYY format
      %li !sequence! = A-Z, optional
      %li !username! = Must be Active Directory / Outlook ID
