- if connections.nil? or connections.empty? then
  %ul.list-group
    %li.list-group-item
      %a{ :href => new_studio_connection_path } No Connections. Create one
- else
  %ul.list-group
    - connections.each do |connection|
      %li.list-group-item
        %a{ :href => studio_connection_path(connection)}
          #{connection.username}@//#{connection.oracle_host }/#{connection.oracle_instance}
