- content_for :head do
  = "- #{params[:repo_name]} > Users"

.col-sm-12
  %h1.page-header #{params[:repo_name]}
  %ul.nav.nav-tabs.nav-justified
    %li
      %a{ :role => "presentation", :href => studio_connection_show_repo_path(params[:studio_connection_id], params[:repo_name])} Repository
    %li
      %a{ :role => "presentation", :href=>  studio_connection_repo_stats_path(params[:studio_connection_id], params[:repo_name])} Statistics
    %li
      %a{ :role => "presentation", :href=>  studio_connection_conformity_path(params[:studio_connection_id], params[:repo_name])} Conformity
    %li.active
      %a{ :role => "presentation", :href=>  studio_connection_repo_users_path(params[:studio_connection_id], params[:repo_name])} Users
  = render :template => "studio_connections/users.template", :locals => { :'@users' => @users}
