- content_for :head do
  = "- #{params[:repo_name]}"

.col-sm-12
  %h1.page-header #{params[:repo_name]}
  %p
  %table.table
    %thead
      %tr
        %th.col-sm-8 Object
        %th.col-sm-2 Updated
        %th.col-sm-2 By
    %tbody#repo-content
      %tr#loading-content
        %td
          %i.fa.fa-cog.fa-spin
          Loading Content...
