- content_for :head do
  = "- #{@connection.oracle_instance} - Repositories"

.col-sm-12
  %h1.page-header Studio Connection
  %ol.breadcrumb
    %li.active
      #{StudioConnection.find(params[:id]).oracle_instance}
  %ul.nav.nav-tabs.nav-justified
    %li.active
      %a{ :role => "presentation", :href => studio_connection_path(params[:id]) } Repositories
    %li
      %a{ :role => "presentation", :href => studio_connection_dashboard_path(params[:id]) } Dashboard
    %li
      %a{ :role => "presentation", :href => studio_connection_users_path(params[:id]) } Users
  #repository-list{ :data => {:'repo-id' => @connection.id }}
    .table-responsive
      %table.table.table-hover.sortable
        %thead
          %tr
            %th{ :'data-defaultsort' => 'desc'} Repository Name
            %th Version
            %th Modify Date
            %th CRS
            %th Owner
        %tbody
          %tr#loading-repo
            %td{ :colspan => 5}
              Loading Repositories
              %i.fa.fa-cog.fa-spin
          - if !(current_user.admin? || current_user == ENV['default_admin'] ) && (@user_credential.nil? || @user_credential.username.empty?) then
            %tr
              %td{ :colspan => 5}
                You haven't set any credentials for this repository. Set them #{ link_to 'here', user_credentials_path(current_user) }
