%td{ :colspan => 5 }
  - if @interface.empty? then
    No explicit permission detected
  - else
    %p User have access in
    %ul
      - @interface.each do |line|
        %li #{ link_to line[:ACCOUNT], studio_connection_show_repo_path(params[:studio_connection_id], line[:ACCOUNT])  }
