%td{ :colspan => 5 }
  - if !@privilege[:PRIVILEGE].nil? then
    %p User have #{@privilege[:PRIVILEGE]} privilege
  - if @interface.empty? then
    %p No explicit permission detected
  - else
    %p User have access in
    %ul
      - @interface.each do |line|
        %li #{ link_to line[:ACCOUNT], studio_connection_show_repo_path(params[:studio_connection_id], line[:ACCOUNT])  }
