.col-sm-12
  %h1.page-header Users
  %ul.nav.nav-tabs.nav-justified
    %li
      %a{ :role => "presentation", :href => studio_connection_path(params[:studio_connection_id]) } Repositories
    %li.active
      %a{ :role => "presentation", :href => studio_connection_users_path(params[:studio_connection_id]) } Users
  = render :template => "studio_connections/users.template", :locals => { :'@users' => @users}
