.col-sm-12
  %h1.page-header Version Statistics
  %ol.breadcrumb
    %li.active
      #{StudioConnection.find(params[:studio_connection_id]).oracle_instance}
  %ul.nav.nav-tabs.nav-justified
    %li
      %a{ :role => "presentation", :href => studio_connection_path(params[:studio_connection_id]) } Repositories
    %li.active
      %a{ :role => "presentation", :href => studio_connection_version_stats_path(params[:studio_connection_id]) } Model Version
    %li
      %a{ :role => "presentation", :href => studio_connection_dashboard_path(params[:studio_connection_id]) } Dashboard
    %li
      %a{ :role => "presentation", :href => studio_connection_users_path(params[:studio_connection_id]) } Users

  %div#version-stat-graph

  %table.table.table-responsive
    %thead
      %tr
        %th
        %th Model Version
        %th Model Count
    %tbody
      - @result_ver.each do |line|
        %tr
          %td
            %a{ :href => "#", :data => { :time =>  line[:MODEL_VERSION].to_i }}
              %i.fa.fa-toggle-down
          %td #{ line[:MODEL_VERSION]}
          %td #{ line[:MODEL_COUNT].to_i}
