.row
  .col-sm-12
    %h1.page-header Categories
  .col-sm-12
    %ul.breadcrumb
      %li
        %a{:href => settings_path} Settings
      %li
        %a{:href => statistics_path } Statistics
      %li.active Categories
  .col-sm-12
    = form_tag update_categories_statistics_path, :method => :patch do
      %table.table
        %tbody#category-list
          - @categories.each do |category|
            = render :template => "statistics/new_category.template", :locals => { :category => category}
          %tr
            %td
              %a.btn.btn-primary#new-category
                %i.fa.fa-plus
      %button.btn.btn-primary{ :type => 'submit'} Update Category
