.jumbotron{ :style => "background:url(/taylor-style-2.jpg); background-size:cover; height:70vh; color:white; margin-bottom:0px;"}
  .container
    %h1 Style
    %p Browse the Studio Repository
.jumbotron{ :style => "background:url(/taylor-style-3.png); background-size:cover; height:70vh; color:white;"}
  .container
    %h1 Browse
    .col-sm-6
      = render :template => "studio_connections/index.template", :locals => { :connections => @connections }
