- if indexes.empty? then
  %ul.list-group
    %li.list-group-item No Indicies
- else
  %ul.list-group
    - indexes.each do |index|
      %li.list-group-item
        %a{ :href => edit_studio_index_path(index)}
          %i.fa.fa-cog
          //path/to/the/index
        .pull-right
          = form_tag studio_index_path(index), :method => :delete do
            %button.btn.btn-danger.btn-xs{ :type => 'submit', :data => { :confirm => "Are you sure? "}}
              %i.fa.fa-minus
