%h3.page-header Indexes
%p
  %ul
    - @indexes.each do |index|
      %li #{index}
%h3.page-header Location
%p #{ @location }
%h3.page-header Repositories
- @repositories.each do |repo|
  .panel.panel-default
    .panel-heading
      %h4{ :style => "word-wrap:break-word;"} #{ repo[:name].split("\\").last }
    .panel-body
      %h4 Description
      %p{ :style => "word-wrap:break-word;"} #{ repo[:name]}
      %h4 Application
      %p
        %dl.dl-horizontal
          %dt Display name
          %dd #{ repo[:application][:display_name]}
          %dt Name
          %dd #{ repo[:application][:name] }
          %dt Version
          %dd #{ repo[:application][:version] }
      %h4 Parameters
      %p
        %dl.dl-horizontal
          - repo[:parameters].each do |keypair|
            %dt #{keypair[0]}
            %dd{ :style => 'word-wrap:break-word;'} #{keypair[1]}
