.col-sm-12
  %h1.page-header Studio Index
  %ol.breadcrumb
    %li.active
      #{ @studio_index.full_path}
  - counter = 0
  - @data_environments.each do |data_env|
    %h3.page-header
      %a{ :data => { :toggle => "collapse" }, :role => "button", :href => "#data-env-#{counter}" }
        %i.fa.fa-toggle-down
      #{ data_env.split("\\").last }
    .collapse{ :id => "data-env-#{counter}", :data => { :env => data_env }}
      %i.fa.fa-cog.fa-spin
      .data-env-detail
    - counter += 1
